<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> ThinkPHP 5.0 企业站</title>
<meta name="description" content="ThinkPHP 5.0 企业站" />
<meta name="keywords" content="ThinkPHP 5.0 企业站" />

    <script type="text/javascript" src="__INDEX__/js/jquery-1.4.1.min.js" ></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.error.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jtemplates.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.form.js"></script>
    <script type="text/javascript" src="__INDEX__/js/lazy.js"></script>
    <script type="text/javascript" src="__INDEX__/js/wp-sns-share.js"></script>
    <script type="text/javascript" src="__INDEX__/js/voterajax.js"></script>
    <script type="text/javascript" src="__INDEX__/js/userregister.js"></script>

    <link rel="stylesheet" href="__INDEX__/css/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/css/voteitup.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/css/list.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
</head>