<!DOCTYPE html>
<html>
<head>
{include file="public/head" /}
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <form action="" method="post">
            <div class="loginbox bg-white">
                <div class="loginbox-title">tp5-企业站 登录</div>
                <div class="loginbox-textbox">
                    <input class="form-control" placeholder="请输入账号" name="name" type="text">
                </div>
                <div class="loginbox-textbox">
                    <input class="form-control" placeholder="请输入密码" name="password" type="password">
                </div>
                <div class="loginbox-textbox">
                    <input class="form-control" style="width:100px;float:left;" name="captcha_code" type="text">
                    <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();" width="120" style="float:left; cursor:pointer;" alt="captcha" />
                </div>
                <div class="loginbox-submit">
                    <input class="btn btn-primary btn-block" value="登录" type="submit">
                </div>
            </div>
                <div class="logobox">
                    <p class="text-center" style="text-align:center;">ThinkPHP5.0 企业站</p>
                </div>
        </form>
    </div>
</body>
<!--Body Ends-->
</html>